<h2>Create Purchase Order</h2>

<div id="validationError" class="alert alert-danger alert-dismissible" style="display: none;" role="alert">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div id="errorMsg"></div>
</div>
<form role="form">
    
    <div id="dtms" class="form-section"></div>
    <div id="line-items" class="form-section"></div>

    <input id="btnSave" type="button" value="Save and Send" class="btn btn-default" />
</form>