<h2>Create Purchase Order</h2>

<div id="validationError"></div>
<form role="form">
    
    <div id="line-items"></div>

    <input id="btnSave" type="button" value="Save and Send" class="btn btn-default" />
</form>