<h2>Purchase Order Details</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <% for (var i = 0; i < Names.length; i++) { %>
            <% if (Names[i].N101_EntityIdentifierCode === 'ST') { %>
            <h4>Ship To</h4>
            <address>
                <% var index = i %>
                <%= Names[i].N102_Name %><br />
                <%= Names[i].N301_Address %><br />
                <%= Names[i].N401_City %> <%= Names[i].N402_State %> <%= Names[i].N404_Country %><br />
                <%= Names[i].N403_PostalCode %>
            </address>
            <% } %>
            <% } %>
        </div>

        <div class="col-sm-6">
            <% for (var i = 0; i < Names.length; i++) { %>
            <% if (Names[i].N101_EntityIdentifierCode === 'BT' && Names[i].N102_Name) { %>
            <h4>Bill To</h4>
            <address>
                <%= Names[i].N102_Name %><br />
                <%= Names[i].N301_Address %><br />
                <%= Names[i].N401_City %> <%= Names[i].N402_State %> <%= Names[i].N404_Country %><br />
                <%= Names[i].N403_PostalCode %>
            </address>
            <% } %>
            <% } %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Items</h4>
            <div class="items">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">UPC</th>
                            <th colspan="2">Quantity</th>
                            <th>Unit</th>
                            <th>Unit Price</th>
                            <th colspan="2">Item Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < Items.length; i++) { %>
                        <tr>
                            <td colspan="2"><%= Items[i].PO107_ProductID %></td>
                            <td colspan="2"><%= Items[i].PO102_QuantityOrdered %></td>
                            <td><%= Items[i].PO103_UnitOfMeasurement %></td>
                            <td><%= Items[i].PO104_UnitPrice %></td>
                            <td colspan="2"><%= Items[i].Names.N102_Name %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div>
                <button id="btnBack" class="btn btn-default">Back</button>
            </div>
        </div>
    </div>
</div>



