<h2>Purchase Order Details</h2>

<div class="container">
    <div class="row">
        <table class="table">
            <tr>
                <td class="col-sm-2"><strong>Status</strong></td>
                <td>
                    <% if (BEG01_TransactionSetPurposeCode === "00") { %>
                    Original
                    <% } else if (BEG01_TransactionSetPurposeCode === "03") { %>
                    Delete
                    <% } else if (BEG01_TransactionSetPurposeCode === "05") { %>
                    Replace
                    <% } %>
                </td>
            </tr>
            <tr>
                <td class="col-sm-2"><strong>P.O. Number</strong></td>
                <td><%= BEG03_PurchaseOrderNumber %></td>
            </tr>
            <tr>
                <td class="col-sm-2"><strong>P.O. Date</strong></td>
                <td><%= new Date(BEG05_Date).toLocaleDateString("en-US") %></td>
            </tr>
            <tr>
                <td class="col-sm-2"><strong>Delivery Date</strong></td>
                <% if (Dtms.length > 0) { %>
                <td><%= new Date(Dtms[0].DTM02_PurchaseOrderDate).toLocaleDateString("en-US") %></td>
                <% } else { %>
                <td></td>
                <% } %>
            </tr>
        </table>
        <hr />
    </div>
    <div class="row">
        <div class="col-sm-6">
            <% for (var i = 0; i < Names.length; i++) { %>
            <% if (Names[i].N101_EntityIdentifierCode === 'ST') { %>
            <h4>Ship To</h4>
            <address>
                <% var index = i %>
                <%= Names[i].N102_Name %><br />
                <%= Names[i].N301_Address %><br />
                <%= Names[i].N401_City %> <%= Names[i].N402_State %> <%= Names[i].N404_Country %><br />
                <%= Names[i].N403_PostalCode %>
            </address>
            <% } %>
            <% } %>
        </div>

        <div class="col-sm-6">
            <% for (var i = 0; i < Names.length; i++) { %>
            <% if (Names[i].N101_EntityIdentifierCode === 'BT' && Names[i].N102_Name) { %>
            <h4>Bill To</h4>
            <address>
                <%= Names[i].N102_Name %><br />
                <%= Names[i].N301_Address %><br />
                <%= Names[i].N401_City %> <%= Names[i].N402_State %> <%= Names[i].N404_Country %><br />
                <%= Names[i].N403_PostalCode %>
            </address>
            <% } %>
            <% } %>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <h4>Line Items</h4>
            <div class="items">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">UPC</th>
                            <th colspan="2">Quantity</th>
                            <th>Unit</th>
                            <th>Unit Price</th>
                            <th colspan="2">Item Name</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var total = 0; %>
                        <% for (var i = 0; i < Items.length; i++) { %>
                        <tr>
                            <td colspan="2"><%= Items[i].PO107_ProductID %></td>
                            <td colspan="2"><%= Items[i].PO102_QuantityOrdered %></td>
                            <td><%= Items[i].PO103_UnitOfMeasurement %></td>
                            <td>$<%= (Items[i].PO104_UnitPrice).toFixed(2) %></td>
                            <td colspan="2"><%= Items[i].Names.N102_Name %></td>
                            <td style="text-align: right;">$<%= (Items[i].PO102_QuantityOrdered * Items[i].PO104_UnitPrice).toFixed(2) %></td>
                        </tr>
                        <% total += (Items[i].PO102_QuantityOrdered * Items[i].PO104_UnitPrice) %>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8" style="text-align: right;"><strong>Total:</strong></td>
                            <td style="text-align: right;">$<%= total.toFixed(2) %></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button id="btnBack" class="btn btn-default">Back</button>
        </div>
    </div>
</div>



