<div id="dtm-<%= count %>">
    <fieldset>
        <legend>Date and Time</legend>
        <div class="row">
            <% if(count === 0) { %>
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label" for="DTM01_DateTimeQualifier-<%= count %>">Date/Time Qualifier</label>
                    <select id="DTM01_DateTimeQualifier-<%= count %>" class="form-control">
                        <option value="010">Requested Shipping Date</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <label class="control-label" for="DTM02_PurchaseOrderDate-<%= count %>">Date/Time</label>
                    <input type="date" class="form-control" id="DTM02_PurchaseOrderDate-<%= count %>">
                </div>
            </div>
            <% } else { %>
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label" for="DTM01_DateTimeQualifier-<%= count %>">Date/Time Qualifier</label>
                    <select id="DTM01_DateTimeQualifier-<%= count %>" class="form-control">
                        <option value="001">Cancel After</option>
                        <option value="002">Delivery Requested</option>
                        <option value="037">Ship Not Before</option>
                        <option value="038">Ship No Later</option>
                        <option value="064">Do Not Deliver Before</option>
                        <option value="077">Requested for Delivery (Week of)</option>
                        <option value="087">Requested for Shipment (Week of)</option>
                        <option value="168">Release</option>
                        <option value="175">Cancel if not shipped by</option>
                        <option value="181">Stop Work (as of)</option>
                        <option value="182">Will Advise (as of)</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <label class="control-label" for="DTM02_PurchaseOrderDate-<%= count %>">Date/Time</label>
                    <input type="date" class="form-control" id="DTM02_PurchaseOrderDate-<%= count %>">
                </div>
            </div>
            <% } %>
        </div>

        <input id="btnAddDtm" type="button" value="Add Date/Time" class="btn btn-default" />
        <% if(count !== 0) { %>
        <input id="btnRemoveDtm" type="button" value="Remove Date/Time" class="btn btn-default" data-count="<%= count %>" />
        <% } %>
    </fieldset>
</div>