<div id="item-dtm-<%= count %>">
    <fieldset>
        <legend>Line Item Date and Time</legend>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label" for="item-DTM01_DateTimeQualifier-<%= count %>">Date/Time Qualifier</label>
                    <select id="item-DTM01_DateTimeQualifier-<%= count %>" class="form-control">
                        <option value="010">Requested Shipping Date</option>
                        <option value="001">Cancel After</option>
                        <option value="037">Ship Not Before</option>
                        <option value="064">Do Not Deliver Before</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <label class="control-label" for="item-DTM02_PurchaseOrderDate-<%= count %>">Date/Time</label>
                    <input type="date" class="form-control" id="item-DTM02_PurchaseOrderDate-<%= count %>">
                </div>
            </div>
        </div>
        <input id="btnRemoveItemDtm" type="button" value="Remove Date/Time" class="btn btn-default" data-count="<%= count %>" data-lineitem="<%= lineItemCount %>" />
    </fieldset>
</div>
