@{
    ViewBag.Title = "Purchase Orders";
}

<div id="main"></div>

@section scripts
{
    <script src="/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>
    <script>
        $(function() {
            $('#main').html('<img height="75px" style="margin: 25px 0 0 20px;" src="/Content/Images/loading_spinner.gif">');
        });
    </script>
    <script src="/Scripts/require.js" data-main="/Scripts/app/pos/app.js"></script>
}
